<h1 class="text-center">Burgers!</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Burgers that are ready to eat!</h2>
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
      <h2>Burgers that have been eaten!</h2>
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <form class="makeTheBurger">
        <div class="form-group">
        <label for="burgerForm">Enter the burger you'd like to create</label>
        <textarea class="form-control" id="burgerForm" rows="3"></textarea>
        </div>
        <button type="submit" class="text center btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>
