<li class="list-group-item p-2 my-1">
	<h3 class="text-center"><strong>{{burger_name}}</strong></h3>
	<h6 class="text-center">{{date}}</h6>
	{{#if devoured}}
	<button class="eaten btn btn-warning" data-id="{{id}}" data-neweaten="{{devoured}}" ><i class="fa fa-cutlery" aria-hidden="true"></i> Eat Me!
	</button>{{/if}}
</li>